@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* Setting margins for the main page */
main {
  margin: 0 auto;
  padding: 100px 50px;
}

/* Settings for root colors */
:root {
  --primary: #96a7c9;
  --secondary: #274633;
  --dark: #95b893;
  --light: #ffffffcf;
  --darker: #123605;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.1em;

  /* Background colors for the page */
  background: var(--dark);
  color: var(--light);
  font-family: "Helvetica";
}

/* Setting style for the headers h1-6 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica";
  font-weight: 450;
  margin: auto;
}

h1 {
  font-family: 'Fredoka One', cursive;

  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: rgb(220, 220, 220);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

a:hover {
  text-decoration: none;
  color: var(--dark);
}

header {
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  padding: 0.2rem;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* Petyard special font here */
header h2 {
}

header a {
  color: var(--light);
}

button {
  background: var(--quaternary);
  border: 0;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 1rem;
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 600px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

ol li {
  list-style: inside;
}

ul li {
  list-style: none;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
}

textarea {
  width: 650px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

.navActive {
  color: var(--primary);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photo {
  width: auto;
  height: auto;
  max-width: 480px;
  max-height: 640px;
  margin-bottom: 50px;
}

.image {
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  padding: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.5;
}

.center {
  display: flex;
  justify-content: center;
}

.page-header {
  font-family: "Roboto", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
  padding-bottom: 2rem;
}

.bottom-spacing {
  margin-bottom: var(--spacing-five);
}

.card {
  width: 25%;
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  color: var(--quaternary);
}

.card-subtitle {
  font-size: 1rem;
  color: var(--tertiary);
}

.card-text {
  font-size: 0.75rem;
  height: 8rem;
  color: var(--quinary);
}

.card-techs {
  font-size: 0.75rem;
  height: 4rem;
  color: var(--quinary);
}

.card-image {
  max-width: 300px;
  max-height: 150px;
}

.card-link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 0.7rem;
}

.padding {
  padding: 50px;
}
.player {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}


.form-container {
  background-color: beige;
  color: black;
  text-align: center;
}


.no-content {
  color: rgb(80, 24, 24);
  background-color: #d3f5d2;
  padding: 5px;
  height: 20%;
  border-radius: 5px;
}

@media screen and (max-width: 980px) {
}
@media screen and (max-width: 817px) {
  header div {
    position: relative;
    width: 110%;
  }

  header div h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h2 {
    font-size: 1.5rem;
  }

  nav ul li span {
    font-size: 0.75em;
  }

  .mobile-header {
    width: 110%;
  }

  .mobile-row {
    display: block;
    margin: 0 100px 0 auto;
  }

  .mobile-view {
    display: inline;
    text-align: end;
  }

  input {
    width: 350px;
  }

  textarea {
    width: 350px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
  }

  ol {
    font-size: 0.75rem;
  }
}
