.map {
  background-image: url("../../../public/images/map-background.png");
  background-position: center;
  border: solid 2px var(--secondary);
  border-radius: 5px;
  width: 60%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}
.status-section {
  margin: 5px;
}
.player-position {
  margin: 10%;
}
.user-tag {
  background-color: beige;
  color: black;
  border-radius: 5px;
}
.dialogue {
  text-align: center;
  width: 30%;
  padding: 1%;
  height: fit-content;
  background-color: var(--secondary);
  margin: 5px;
  border-radius: 5px;
}
.homepage {
  justify-content: space-evenly;
}
