.map {
  background-image: url("../../../public/images/map-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.player-position {
  margin: 10%;
}
.user-tag {
  background-color: beige;
  color: black;
  border-radius: 5px;
}
.dialogue {
  text-align: center;
  width: 30%;
  padding: 1%;
  height: fit-content;
  background-color: var(--secondary);
}
